.navbar {
  user-select: none;
}

@media screen and (max-width: 358px) {
  .navbar img {
    width: 70%;
  }

  .navbar svg {
    font-size: 8vw;
  }

  .navbar ul {
    margin-left: 1rem;
    margin-top: 5rem;
    gap: 2rem;
  }

  .navbar ul li a {
    font-size: 1.1rem;
  }

  .navbar ul a span {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1248px) {
  .navbar .logo img {
    transform: scale(1);
    transition: 0.4s ease-in-out;
  }

  .navbar .logo:hover img {
    transform: scale(1.05);
  }

  .navbar ul a span,
  .navbar ul a {
    transition: 0.4s ease-in-out;
  }

  .navbar ul a:hover {
    color: #ebebd3;
  }

  .navbar ul a:hover span {
    color: #da4167;
  }
}
