.experience-card {
  background-color: #050f1d;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 3px 0.5px rgba(191, 200, 231, 0.6);
  min-width: 360px;
  padding: 1rem 0.75rem;
  border-radius: 1rem;
}

.experience-content {
  position: relative;
  padding: 2rem 0 0rem 0;
}

.experience-card:first-child::before {
  content: 'CURRENT ROLE';
  position: absolute;
  color: #ffc857;
  font-weight: 500;
  font-size: 14px;
  top: 0rem;
  left: 0;
}

.experience-content::-webkit-scrollbar {
  height: 0.5rem;
}

.experience-content::-webkit-scrollbar-track {
  background-color: #0a1233;
  border-radius: 100vw;
}

.experience-content::-webkit-scrollbar-thumb {
  background-color: #ffc857;
  border-radius: 100vw;
}

@media screen and (min-width: 1248px) {
  .experience-card {
    min-width: 400px;
  }
  .about button {
    transition: 0.5s ease-in-out;
  }

  .about button:hover {
    background-color: #ffc857;
    border-color: transparent;
  }

  .about button:hover a {
    color: #050f1d;
  }
}

@media screen and (min-width: 768px) {
  .experience-content::-webkit-scrollbar {
    display: none;
  }
}
