@media screen and (min-width: 600px) {
  .container-soft {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
  }
}

@media screen and (min-width: 1248px) {
  .container-soft {
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}
