@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050f1d;
  color: #bfc8e7;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
}

.home {
  min-height: 80vh;
  padding: 0 1rem;
}

.text-h1 {
  font-family: 'Lora', serif;
  font-weight: 600;
}

.navbar .navigation {
  backdrop-filter: blur(50px);
}

footer {
  background: linear-gradient(156deg, #020d1e 0%, #021024 100%);
}

.form button {
  border: 0.5px solid transparent;
  transition: 0.4s ease-in-out;
}

.form button:hover {
  background-color: #020d1e;
  border-color: #bfc8e7;
  color: #bfc8e7;
}

.buttons a {
  transition: 0.4s ease-in-out;
}

.buttons a:hover {
  background-color: #ffc857;
  color: #020d1e;
}

.buttons a:hover svg {
  transform: scale(1.05);
}
