@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050f1d;
  color: #bfc8e7;
  font-family: 'Manrope', sans-serif;
}

.home {
  min-height: 80vh;
  margin: 0 1rem;
}

.text-h1 {
  font-family: 'Lora', serif;
  font-weight: 600;
}

.navbar .navigation {
  backdrop-filter: blur(50px);
}
