.banner .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  right: 1rem;
  bottom: 2rem;
  position: absolute;
  z-index: 3;
}

.banner .socials::after {
  content: '';
  width: 1px;
  height: 4rem;
  background-color: #ffc857;
}

.banner .socials svg {
  font-size: 1.4rem;
  color: var(--font-clr);
  transition: 0.4s;
  transform: scale(1);
}

.banner .socials svg:hover {
  color: var(--second-clr);
  transform: scale(1.2);
}

@media screen and (min-width: 1248px) {
  .banner .socials::after {
    height: 6rem;
  }

  .banner .text-h1 span {
    letter-spacing: 2px;
  }

  .banner .socials {
    gap: 1.5rem !important;
    right: 1.5rem !important;
  }

  .banner .socials svg {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .banner .socials {
    gap: 1.2rem;
    right: 1.5rem;
  }
  .banner .socials svg {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 358px) {
  .banner .text-h1 .im,
  .banner .text-h1 .we {
    font-size: 7vw;
    line-height: auto;
  }

  .banner .text-h1 .hi {
    font-size: 9vw;
    line-height: auto;
  }

  .banner .web {
    margin-bottom: 1rem;
  }

  .banner button {
    padding: 0.2rem 1.5rem;
  }

  .banner button a {
    font-size: 4vw;
  }

  .banner .socials {
    gap: 1rem;
    right: 0.5rem;
  }

  .banner .socials::after {
    height: 3rem;
  }

  .banner .socials svg {
    font-size: 1rem;
  }
}
