.banner .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  right: 1rem;
  bottom: 2rem;
  position: fixed;
  z-index: 3;
}

.banner .socials::after {
  content: '';
  width: 1px;
  height: 4rem;
  background-color: #ffc857;
}

.banner .socials svg {
  font-size: 1.4rem;
  color: var(--font-clr);
  transition: 0.4s;
  transform: scale(1);
}

.banner .socials svg:hover {
  color: var(--second-clr);
  transform: scale(1.2);
}

@media screen and (min-width: 600px) {
  .banner .socials {
    gap: 1.2rem;
    right: 1.5rem;
  }
  .banner .socials svg {
    font-size: 1.6rem;
  }
}
