.banner .text-h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  user-select: none;
}

.banner .text-h1 .text1-h1 span {
  color: #ffc857;
  font-size: 9vw;
}

.banner span {
  font-family: 'Lora', serif;
  font-size: 7vw;
  display: inline-block;
  font-weight: 700;
  transition: 0.1s ease-in-out;
}

.banner span:hover {
  color: #ffc857;
}

.banner .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  right: 1rem;
  bottom: 1rem;
  position: fixed;
}

.banner .socials::after {
  content: '';
  width: 1px;
  height: 4rem;
  background-color: #ffc857;
}

.banner .socials svg {
  font-size: 1.3rem;
  transition: 0.4s;
  transform: scale(1);
}

.banner .socials svg:hover {
  color: #ffc857;
  transform: scale(1.2);
}

@media screen and (min-width: 1248px) {
  .banner .text-h1 .text1-h1 span {
    font-size: 4.2rem !important;
  }

  .banner .text-h1 span {
    font-size: 3.8rem;
  }

  .banner button {
    padding: 0.5rem 2.6rem !important;
    transition: 0.5s ease-in-out;
  }

  .banner button:hover {
    background-color: #ffc857;
    border-color: transparent;
  }

  .banner button:hover a {
    color: #050f1d;
  }

  .banner button a {
    font-size: 1.4rem !important;
    letter-spacing: 1px;
  }

  .banner .socials::after {
    height: 6rem;
  }

  .banner .text-h1 span {
    letter-spacing: 2px;
  }

  .banner .socials {
    gap: 1.5rem !important;
    right: 1.5rem !important;
  }

  .banner .socials svg {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .banner .text-h1 {
    margin-bottom: 1.5rem;
  }
  .banner span {
    line-height: normal;
  }
  .banner .text-h1 .text1-h1 span {
    font-size: 8.5vw;
  }

  .banner span {
    font-size: 6.5vw;
  }

  .banner button {
    padding: 0.7rem 2.5rem;
  }

  .banner button a {
    font-size: 2.5vw;
  }

  .banner .socials {
    gap: 2rem;
    right: 1.5rem;
  }
  .banner .socials svg {
    font-size: 1.7rem;
  }

  .banner .socials::after {
    height: 5rem;
  }
}

@media screen and (max-width: 358px) {
  .banner button {
    padding: 0.25rem 1.5rem;
  }

  .banner button a {
    font-size: 4vw;
  }

  .banner .socials {
    gap: 0.8rem;
    right: 0.5rem;
  }

  .banner .socials::after {
    height: 2.5rem;
  }

  .banner .socials svg {
    font-size: 1rem;
  }
}
